* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: 'Ubuntu', Arial, sans-serif;
}

body {
  background: #e0e0e0;
}

main {
  max-width: 1020px;
  margin: auto;
  padding: 0 30px;
}

.keyboard {
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  border: 1px solid;
  position: relative;
  overflow: hidden;
  transition: opacity .2s;
  background: gold;
  box-shadow: -200px 0 100px -120px rgb(255, 0, 51) inset;
  border-radius: 30px;
  border: 10px solid white;
  animation: background 10s infinite alternate;
}

.keyboard.close {
  opacity: 0;
  z-index: -2;
}

.keyboard__row {
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
  height: 50px;
}

.keyboard__key {
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(245, 244, 244) radial-gradient(circle at 0 0, rgba(255, 255, 255, .75), rgba(255, 255, 255, .35));
  transition: all .2s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  user-select: none;
}

[data-fn="false"].active {
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, .9), inset 0 0 20px 2em rgba(255, 255, 255, .2);
}

[data-fn="true"].active {
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, .9), inset 0 0 20px 2em rgba(255, 255, 255, 0);
}

.voice-on {
  background: rgb(41, 218, 241);
}

[data-fn="false"].active .letter,
[data-fn="true"].active .letter {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  color: #244618;
}

[data-fn="true"] {
  background: rgb(78, 78, 78) radial-gradient(circle at 0 0, rgba(136, 134, 134, 0.65), rgba(167, 167, 167, 0.35));
  box-shadow: inset rgba(0, 0, 0, .75) -1px -1px 2px, inset rgba(161, 160, 160, 0.9) 1px 1px 2px, rgba(0, 0, 0, .8) 1px 1px 2px -1px;
}

[data-fn="true"]>.letter {
  font-size: 16px;
}

[data-code="CapsLock"] {
  width: 95px;
}

[data-code="ShiftLeft"] {
  width: 100px;
}

[data-code="ShiftRight"] {
  width: 120px;
}

[data-code="Enter"] {
  width: 100px;
}

[data-code="Tab"] {
  width: 76px;
}

[data-code="ControlLeft"] {
  width: 76px;
}

[data-code="ControlRight"] {
  width: 60px;
}

[data-code="Backspace"] {
  width: 115px;
}

[data-code="Space"] {
  width: 30vw;
}

[data-code="AltLeft"],
[data-code="AltRight"] {
  width: 76px;
}

[data-code="ArrowLeft"],
[data-code="ArrowUp"],
[data-code="ArrowDown"],
[data-code="ArrowRight"] {
  background: rgb(169, 196, 231);
}


.active {
  background: rgb(41, 218, 241);
}

.letter {
  font-size: 22px;
  width: 100%;
  text-align: center;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform-origin: center;
}

.subtitle,
.hint {
  color: #666;
}

textarea.output {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.toggle {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-bottom: 50px;
  transition: transform .2s;
}

.toggle.opened {
  transform: scale(1, -1);
}

.sub {
  width: 100%;
  color: #68688a;
  text-align: left;
  padding-left: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.sub.sub-active:not(:empty) {
  color: rgb(19, 80, 0);
  font-size: 23px;
}

.sub.sub-active:not(:empty)~.letter.sub-inactive {
  color: #68688a;
  font-size: 16px;
  text-align: center;
  padding-right: 10px;
  width: 50%;
  transform-origin: center;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

@media screen and (min-width: 1600px) {
  [data-code="Space"] {
    width: 420px;
  }
}

@media screen and (max-width: 1000px) {
  .keyboard {
    display: block;
  }

  .keyboard__row {
    grid-gap: 4px;
    margin-bottom: 10px;
  }

  [data-code="Space"] {
    width: 40vw;
  }

  [data-code="Dictation"],
  [data-code="Voice"],
  [data-code="Lang"] {
    width: 168px;
  }

  [data-code="AltLeft"], [data-code="AltRight"] {
    width: 48px;
  }

  [data-code="Backspace"] {
    width: 78px;
  }

  [data-code="Enter"] {
    width: 80px;
  }

  [data-code="CapsLock"] {
    width: 71px;
  }

  [data-code="Tab"] {
    width: 55px;
  }

  [data-code="ShiftLeft"] {
    width: 80px;
  }

  [data-code="ShiftRight"] {
    width: 80px;
  }

  .letter {
    font-size: 15px;
  }

  .sub.sub-active:not(:empty) {
    color: rgb(19, 80, 0);
    font-size: 20px;
  }
}

@media screen and (max-width: 795px) {

  .sub.sub-active:not(:empty)~.letter.sub-inactive {
    transform: translateX(10px);
    font-size: 14px;
  }

  [data-code="Space"] {
    width: 27vw;
  }

  [data-code="Enter"] {
    width: 55px;
  }

  [data-code="Dictation"],
  [data-code="Voice"],
  [data-code="Lang"] {
    width: 125px;
  }

  [data-code="ControlLeft"] {
    width: 65px;
  }
  
  [data-code="ControlRight"] {
    width: 55px;
  }

  [data-code="AltLeft"], [data-code="AltRight"] {
    width: 43px;
  }
}

@media screen and (max-width: 630px) {

  .keyboard__key {
    height: 44px;
  }

  .keyboard__row {
    margin-bottom: 0;
  }

  [data-code="Space"] {
    width: 24vw;
  }

  [data-code="ShiftLeft"] {
    width: 65px;
  }

  [data-code="ShiftRight"] {
    width: 65px;
  }

  [data-code="ControlLeft"] {
    width: 50px;
  }
  
  [data-code="ControlRight"] {
    width: 45px;
  }

  [data-code="Dictation"],
  [data-code="Voice"],
  [data-code="Lang"] {
    width: 100px;
  }
}

@media screen and (max-width: 625px) {
  [data-code="Space"] {
    width: 19vw;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
}

@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px yellowgreen inset;
  }
}